@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us!</h2>
<h3>@ViewBag.Message</h3>

<p>
    Teacher Helper was inspired by teachers, designed for teachers. We know the struggles they face in and out of the classroom. <br/>
    We hope that this application will lend a helping hand to teachers, no matter how big or small of a benefit it has on their productivity.
</p>
<p>
    So far, the functionality of the site is limited to managing students' information:
    <ul>
        <li>Create/add a student</li>
        <li>View their information</li>
        <li>Edit their information</li>
        <li>Delete a student</li>
    </ul>
    However, this is just the beginning. We look forward to adding more functionality!
</p>
