@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teacher Helper</h1>
    <p class="lead">Optimizing productivity in and out of the classroom!</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting Started</h2>
        <p>
            New to Teacher Helper? Register a new user account.<br/>
            Returning User? Log in to your existing account.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Manage your student information</h2>
        <p>Explore all of the ways to ease your day!</p>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>New Users</h2>
        <p>
            Register a user account.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Returning Users</h2>
        <p>Log in to your account.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@